<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>LOGIN PAGE</h1>
    <form action="/login" method="post">
        USERNAME :<input type="text" name="username" /><br>
        PASSWORD :<input type="password" name="password" /><br>

        <div>
            <input type="checkbox" name="remember-me"> 로그인상태를 유지
        </div>

        <button>로그인</button>
    </form>

    <a href="/join">회원가입</a>
    <hr>
    <a href="/oauth2/authorization/kakao">카카오로그인</a> <br>
    <a href="/oauth2/authorization/naver">네이버로그인</a> <br>
    <a href="/oauth2/authorization/google">구글로그인</a> <br>
</body>
</html>